<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aidan Nyquist</title>
        <link rel="stylesheet" href="/css/default.css" />
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
            tex2jax: {
            inlineMath: [["$$","$$"]],
            processEscapes: true
            }
            }); </script>

        <script type="text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/"><span style="font-weight:lighter">Aidan</span>Nyquist</a href>
            </div>
            <nav>
                <a href="/"> Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
            This site was made with
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                and 
            <a href="https://www.gnu.org/software/emacs/"> Emacs</a>
            /
            <a href="https://orgmode.org/">org-mode</a>.
        </footer>
    </body>

    </html>
